@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
section .singin {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 400px;
  padding: 40px;
  background-color: #222;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
section .singin .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
  width: 100%;
}
.content h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #0f0;
}
.content .form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.content .form .inputBox {
  position: relative;
  width: 100%;
}

.content .form .inputBox input {
  position: relative;
  width: 100%;
  padding: 25px 10px 7.5px;
  background-color: #333;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  border: none;
  outline: none;
}
.content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  pointer-events: none;
  transition: 0.5s;
}

.content .form .inputBox input:focus ~ i,
.content .form .inputBox input:valid ~ i {
  transform: translateY(-9px);
  font-size: 0.8em;
  color: #fff;
}
