@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100vw;
  height: 100vh;
  gap: 2px;
  overflow: hidden;
}
section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, #0f0, #000);
  animation: animebg 5s linear infinite;
}
@keyframes animebg {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
section span {
  display: block;
  position: relative;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background-color: #181818;
  transition: 1.1s;
  z-index: 2;
}
section span:hover {
  background-color: #0f0;
  transition: 0s;
}
section .singin {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 400px;
  padding: 40px;
  background-color: #222;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
section .singin .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
  width: 100%;
}
.content h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #0f0;
}
.content .form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.content .form .inputBox {
  position: relative;
  width: 100%;
}

.content .form .inputBox input {
  position: relative;
  width: 100%;
  padding: 25px 10px 7.5px;
  background-color: #333;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  border: none;
  outline: none;
}
.content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  pointer-events: none;
  transition: 0.5s;
}

.content .form .inputBox input:focus ~ i,
.content .form .inputBox input:valid ~ i {
  transform: translateY(-9px);
  font-size: 0.8em;
  color: #fff;
}
.content .form .links {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.links a {
  color: #fff;
  text-decoration: none;
}
.links a:nth-child(2) {
  color: #0f0;
  font-weight: 600;
}
.content .form .inputBox input[type='submit'] {
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 10px;
  background-color: #0f0;
  color: #111;
  cursor: pointer;
}
section span {
  display: block;
  position: relative;
  width: calc(6.25vw - 2px);
}
@media (max-width: 1300px) {
  section {
  }
  section span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 800px) {
  section {
  }
  section span {
    width: calc(14.2vw - 2px);
    height: calc(14.2vw - 2px);
  }
}
@media (max-width: 500px) {
  section {
  }
  section span {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
